<div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="aboutheading">
                <h3>BLOG </h3>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  
  
       <div class="section layout_padding">
          <div class="container">
            
             <div class="row">
                <div class="col-md-6">
                   <img src="images/blog1.png" alt="#" />
                </div>
                <div class="col-md-6">
                   <div class="full blog_cont">
                      <h4> How to Improve Your Google Ranking with 4 Website Boosts</h4>
                      <h5>MAY 14 2019 5 READ</h5>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                   </div>
                   <div class="col-md-12">
                    <div class="button_section  margin_top_30">
                       <a routerlink = "app-mainblog">Read More</a>
                    </div>
                 </div>
                </div>
             </div>
             <div class="row margin_top_30">
                <div class="col-md-6">
                   <img src="images/blog2.png" alt="#" />
                </div>
                <div class="col-md-6">
                   <div class="full blog_cont">
                      <h4>How to Make a Music Streaming App Like Spotify?</h4>
                      <h5>MAY 19 2019  5 READ</h5>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                   </div>
                   <div class="col-md-12">
                    <div class="button_section full center margin_top_30">
                       <a routerlink = "app-mainblog">Read More</a>
                    </div>
                 </div>
                </div>
             </div>
  
             <div class="row margin_top_30">
                <div class="col-md-6">
                   <img src="images/blog1.png" alt="#" />
                </div>
                <div class="col-md-6">
                   <div class="full blog_cont">
                      <h4>Six Website Improvements for a Post-COVID-19 Sales Boost</h4>
                      <h5>MAY 14 2019 5 READ</h5>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                   </div>
                   <div class="col-md-12">
                    <div class="button_section full center margin_top_30">
                       <a routerlink="app-mainblog">Read More</a>
                    </div>
                 </div>
                </div>              
             </div>
            
             <div class="row margin_top_30">
                <div class="col-md-12">
                   <div class="button_section1 margin_top_30">
                      <a routerlink="/mainblog2" routerLinkActive="active">find more...</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
